@media screen and (max-width:810px) {
    #header {
        display:flex;
        justify-content: end;
    }
    #navbar {
        height:100vh;
        width:100%;
        position:fixed;
        top:10%;
        right:0;
        padding-top:10px;
        background-color:#111;
        display:flex;
        justify-content:start;
        align-items:center;
        flex-direction:column;
        transform:translateX(800px);
        transition:.25s ease-in;
        z-index:5;
    }
    #navbar.activeNav {
        transform:translateX(0);
        transition:.3 ease-out;
    }
    #menu {
        display:block;
        font-size:2rem;
        cursor:pointer;
        margin-right:1.5rem;
    }
    #hero {
        background-position-x: 100%;
    }
    .intro-text {
        width:80%;
    }
    .intro-title {
        white-space:nowrap;
        font-size:2.4rem;
    }
    .intro-text {
        font-size:1.8rem;
        font-weight:300;
    }
    .col-about, .col-projects {
        margin:0.8rem;
        padding:1rem;
    }
    .col-about p, .projects-text {
        font-size:1rem;
    }
    #projects {
        padding-top:3.6rem;
    }
    .col-projects {
        flex-basis:45%;
        padding:1rem;
        margin:1rem;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-between;
    }
    .col-projects img {
        margin-bottom:.75rem;
        border-radius:10px;
        width:100%;
        height:100%;
    }
    .footer-intro h5 {
        font-size:1.6rem;
    }
    .footer-intro i {
        margin:1rem 2rem 1rem 2rem;
        font-size:2.5rem;
        color:#f9f9f9;
    }
    .footer-links {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    .footer-links li {
        margin-bottom:.8rem;
    }
}
@media screen and (max-width:768px){
    .row {
        display:flex;
        flex-direction:column;
    }
    .contact-form {
        width:100%;
    }
    .scroll-reveal-bottom {
        position:relative;
        transform:translateY(150px);
        opacity:0;
    }
    .active-reveal-bottom {
        transform:translateY(0);
        opacity:1;
        transition:.8s ease-out;
    }
    .scroll-reveal-left {
        position:relative;
        transform:translateX(-50px);
        opacity:0;
    }
    .active-reveal-left {
        transform:translateX(0);
        opacity:1;
        transition:1s ease-in-out;
    }
    .scroll-reveal-right {
        position:relative;
        transform:translateX(50px);
        opacity:0;
    }
    .active-reveal-right {
        transform:translateX(0);
        opacity:1;
        transition:1s ease-in-out;
    }
    .footer-details {
        font-size:0.8rem;
    }
}