@media screen and (max-width:600px){
    .navlink {
        font-size:1.2rem;
        margin:1rem;
    }
    #menu {
        font-size:1.1rem;
    }
    #hero {
        background-position-x: 90%;
    }
    .intro-box {
        width:85%;
    }
    .intro-title {
        font-size:1.6rem;
    }
    .intro-text {
        font-size:1rem;
    }
    #about {
        padding-top:3rem;
    }
    .about-title, .projects-title, .contact-title {
        font-size:1.3rem;
        white-space: nowrap;
    }
    .col-about, .col-projects {
        margin:0;
        margin-bottom:1.5rem;
        padding:0;
    }
    .col-about p, .projects-text {
        font-size:0.8rem;
    }
    #projects {
        padding-top:3rem;
    }
    .projects-col-text {
        font-size:0.6rem;
    }
    .contact-title {
        width:90%;
        font-size:1rem;
        padding-top:1rem;
    }
    #contact {
        padding-top:3rem;
    }
    #contactForm {
        width:100%;
    }
    #contactForm label {
        width:85%;
        margin:1rem auto;
    }
    #contactForm label input {
        width:100%;
        font-size:0.8rem;
        height:1.5rem;
    }
    #contactForm textarea {
        width:85%;
        margin:1rem auto 1.5rem;
        font-size:0.8rem;
        background-color:#555;
        color:#f8f8f8;
        height:11rem;
        padding:0.6rem;
        resize:none;
    }
    input[type="submit"] {
        width:6rem;
        height:3rem;
        padding:1rem;
        font-size:.8rem;
        font-weight:500;
        margin:1rem auto 1.2rem;
    }
    .footer-intro h5 {
        font-size:1.1rem;
        font-weight: 500;
    }
    .footer-intro i {
        margin:1rem 1rem 1rem 1rem;
        font-size:1.5rem;
        color:#f9f9f9;
    }
    .footer-links {
        font-size:0.6rem;
    }
    .footer-details {
        font-size:0.5rem;
    }
}